{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
<style>
    table {margin: 0 0 20px; border:1;}
    td {padding: 5px 10px;}
    img {
        max-width: 100px;
        max-height: 100px;
    }
</style>
{% endblock %}

{% block main_content %}
<div id='blog-index'>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% for blog in listBlogs %}
      <a href="{{ path('blog_detail', {'id': blog.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <img src='{{ blog.feature_image }}' class="rounded mx-auto d-block" />
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ blog.title }}</h5>
          <small class="text-muted">{{ blog.created_at|date("d/m/Y H:i:s") }}</small>
        </div>
        <p class="mb-1">{{ blog.short_description }}</p>
      </a>
    {% endfor %}

</div>
{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}