{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
<style>
    table {margin: 0 0 20px; border:1;}
    td {padding: 5px 10px;}
</style>
{% endblock %}

{% block main_content %}
<div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <a href='{{ path('blog_insert') }}'>INSERT BLOG</a>

    <table id='listBlogs' border="1">
        <tr>
            <td>Feature Image</td>
            <td>Title</td>
            <td>Create at</td>
            {# <td>Category</td> #}
            <td>Description</td>
            <td>Detail</td>
            <td></td>
        </tr>
    {% for blog in listBlogs %}
        <tr>
            <td><img src='{{ blog.feature_image }}' /></td>
            <td>{{ blog.title }}</td>
            <td>{{ blog.created_at|date("d/m/Y H:i:s") }}</td>
            {# <td>{{ blog.category_name }}</td> #}
            <td>{{ blog.short_description }}</td>
            <td><a href='{{ path('blog_detail', {'id': blog.id}) }}'>Show more</a></td>
            <td>
                <a href='{{ path('blog_delete', {'id': blog.id}) }}'>Delete</a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}